.list {
  .list__hero {
    height: 33vh;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: 50% 50%;
      min-height: 100%;
    }
    div {
      picture {
        opacity: 1;
        -webkit-transition: opacity .3s ease;
        transition: opacity 0.3s ease;
      }
    }
  }
  .list__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 1.5rem;
    h2,
    h3,
    p {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-transition: transform 0.5 ease-out;
      transition: transform 0.5s ease-out;
    }
  }

  li {
    opacity: inherit;
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-height: 38vh;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  p {
    max-width: 900px;
  }
}

@media (min-width: 1161px) {
  .list {
    display : flex;
    flex-direction: column;
    align-items : center;
    a:hover {
      opacity: 1;
      li {
        div.list__info {
          h2,
          h3,
          p {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
            -webkit-transition: transform 0.5s ease-out;
            transition: transform 0.5s ease-out;
          }
        }
      }
    }
    a {
      width : fit-content;
    }
    li {
      min-height: 250px;
      height: 30vh;
      flex-direction: row;
      margin : 0;
    }
    .list__hero {
      height: 100%; 
      max-width : 320px;
    }
    .list__info {
      width: fit-content;
    }
  }
}

