.footer {
    background: linear-gradient(90deg, #e8efe4, #ebe9e4);
    border-top : solid black 2px;
    color: #0c0c0c;
    padding: 1rem 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    width : 100%;
  }
  
.inner {
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    font-size: 18px;
    font-weight: 500;
}

.nav {
    display: flex;
    gap: 1.5rem;

    a {
        color: #f2f2f2;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
        color: #c0a960;
        }
    }
}

@media (max-width : 1000px){
    .brand{
        font-size : 1rem;
    }
    
}