.header {
  h1 {
    margin-bottom: 0; 
    color : white;
  }

}

.header__nav {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  img {
    margin-bottom: 0;
  }
}

.home {
  background-image : url("~/static/background_home_erik-n1VbsCPevyk-unsplash.png");
  background-size : cover;
}

.reviews {
  background-image : url("~/static/background_reviews_melanie-nobaru-vxREYqWBCLU-unsplash.jpg");
  background-size : cover;
}

.tech {
  background-image : url("~/static/background_tech_david-becker-crs2vlkSe98-unsplash.jpg");
  background-size : cover;
}

.history_art {
  background-image : url("~/static/background_history_art_olivia-anne-snyder-w15i7-iiwws-unsplash.jpg");
  background-size : cover;
}

.info {
  background-image : url("~/static/background_info_laura-vinck-Hyu76loQLdk-unsplash.jpg");
  background-size : cover;
}

.thoughts {
  background-image : url("~/static/background_thoughts_sebaty_jp--lg7Zlsfquo-unsplash.jpg");
  background-size : cover;
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    width: 23%;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .header__nav {
    padding: 2rem;
    height: 100%;
    margin-right: 1px;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    img {
      margin-bottom: 0;
    }
  }

  .home {
    background-image : url("~/static/background_home_erik-n1VbsCPevyk-unsplash.png");
    background-size : cover;
  }

  .reviews {
    background-image : url("~/static/background_reviews_melanie-nobaru-vxREYqWBCLU-unsplash.jpg");
    background-size : cover;
  }
  
  .tech {
    background-image : url("~/static/background_tech_david-becker-crs2vlkSe98-unsplash.jpg");
    background-size : cover;
  }
  
  .history_art {
    background-image : url("~/static/background_history_art_olivia-anne-snyder-w15i7-iiwws-unsplash.jpg");
    background-size : cover;
  }
  
  .info {
    background-image : url("~/static/background_info_laura-vinck-Hyu76loQLdk-unsplash.jpg");
    background-size : cover;
  }
  
  .thoughts {
    background-image : url("~/static/background_thoughts_sebaty_jp--lg7Zlsfquo-unsplash.jpg");
    background-size : cover;
  }
}
