@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


:root {
  --background1: linear-gradient(
    270deg,
    #f1960d,
    #a00606 /* Removed the trailing comma */
  );
  --background2: linear-gradient(
    270deg,
    #2b86c5,
    #42e695
  );

  --header-height: 250px; 
  --header-height-shrunk: 83px; 
}

.header{
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #e8efe4, #ebe9e4);
  z-index: 1000;
  width : 100%;
  height : var(--header-height);
  h1 {
    margin-bottom: 0; 
    color : white;
  }
}

.shrink {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  padding-top : 14px;
  padding-bottom : 14px;
  margin-bottom :0;
  height : var(--header-height-shrunk);
  width : 1200px;
}

.title-header {
  height: 44%;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  background-color: black;
  z-index: 0;
}

.shrink .title-header {
  margin-top : 0;
  width : 30%;
  height : 55px;
  margin-left : 20px;
}

.title-header::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 100px;
  background: linear-gradient(
    270deg,
    #f1960d,
    #a00606,
    #784ba0,
    #2b86c5,
    #42e695,
  );
  background-size: 800% 800%;
  animation: rainbow 30s linear infinite;
  animation-delay: var(--animation-delay, 0s);
  opacity: 0;
  transition: opacity 0.3s ease;
  animation-fill-mode: forwards;
}

.title-header:hover::before {
  opacity: 1;
}

.filtermenu {
  width : 100%;
  display: flex;
  font-size : 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.shrink .filtermenu {
  margin :0;
  font-size :28px;
  width : 65%;
  gap : 4.8%
}

.filteroption {
  color: #b6b6b6;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: 800;
  position: relative;
  transition: color 0.3s ease;
}
.filteroption.active {
  color: #000;
}
.filteroption:hover {
  color: #000;
}

.cardsWrapper {
  opacity: 1;
  max-height: 500px; 
  overflow: hidden;
  font-size : 20px;
  margin-top : 20px;
}

.shrink .cardsWrapper {
  width: 0;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

@media (max-width : 1340px){
  .header{
    height : calc(var(--header-height)*0.85)
  }
  
  .cardsWrapper {
    font-size : 18px;
  }

  .filtermenu {
    gap: 6%;
    font-size : 26px;
  }
}

@media (max-width : 1200px){
  .header{
    height : calc(var(--header-height)*0.79)
  }

  .filtermenu {
    gap: 5%;
    font-size : 23px;
  }
}

@media (max-width : 1000px){
  .header{
    height : calc(var(--header-height)*0.65)
  }

  .title-header {
    height: 40%;
  }

  .cardsWrapper {
    font-size : 17px;
  }

  .filtermenu {
    gap: 4%;
    font-size : 20px;
  }
}

// @media (max-width: 800px){

// }
