.layout {
  position:absolute;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
}

.content {
  min-height : 100vh;
  color : #244855;
  background-color: #f8efe4;
  align-items: center;
  justify-content: center;
}

.section__title{
  color : #874F41;
  font-size : 50px;
  display : flex;
  justify-content: center;
  padding : 2rem 0 3rem 0;
}

@media (min-width: 1161px) {
  .layout {
    display: flex;
  }
  .content {
    margin-left: clamp(300px, 20%, 20%);
    height:100%;
  }
}
