.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #874F41;
}

.content {
  flex-grow: 1;
  min-height : 100vh;
  color : #244855;
  background-color: #FBE9D0;
}


@media (min-width: 1161px) {
  .layout {
    display: block;
  }
  .content {
    margin-left: clamp(400px, 20%,20%);
  }
}
