.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #874F41;
}

.content {
  flex-grow: 1;
  min-height : 100vh;
  color : #244855;
  // background-color: #FBE9D0;
  background-color: #f8efe4;
}

.section__title{
  color : #874F41;
  font-size : 50px;
  display : flex;
  justify-content: center;
  padding : 2rem 0 3rem 0;
}

@media (min-width: 1161px) {
  .layout {
    display: block;
  }
  .content {
    margin-left: clamp(300px, 20%, 20%);
  }
}
