@media (min-width: 1340px) {
    .article-card {
    position: relative;
    margin-bottom:0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
  }

  .secondary.article-card {
    width : 100%;
    height : 250px;
  }

  .article-black-mask {
    position: absolute;
    z-index: 3;
    height: 100%; 
    width: 100%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 70%);
  }

  .article-blur-mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  }

  .article-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left : 30px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom:25px;
  }

  .secondary.article-overlay{
    padding-bottom:10;
  }

  .article-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-meta {
    font-size: 0.9rem;
    color: #aaa;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

  }
  
  .article-category {
    border-radius: 25px;
    background-color: rgb(230, 230, 230);
    padding:10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000000;
  }
  
  .article-date {
    font-family: helvetica;
    font-size: 20px;
    color : rgb(216, 215, 215);
    font-weight : bold;
  }
  
  .article-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 8px 0;
    line-height: 1.3;
  }

  .secondary.article-title {
    font-size: 1.75rem;
    margin-bottom : 10px;
  }
  
  .article-excerpt {
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: #ddd;
    width : 90%;
  }
  .secondary.article-excerpt {
    opacity: 0;
    max-height: 0;
    padding-bottom: 0;
  }

}