:root {
    --staircase-step: 30px; /* Set the step size for the staircase */
  }
  
.staircase-title {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color : white;
    font-family: Helvetica;
    margin-left: 35px;
}
.staircase-title span {
    position: absolute;
}
.staircase-title span:nth-child(1) { top: calc(var(--staircase-step) * 0); left: 0px; }
.staircase-title span:nth-child(2) { top: calc(var(--staircase-step) * 1); left: 3rem; }
.staircase-title span:nth-child(3) { top: calc(var(--staircase-step) * 2); left: 6rem; }
.staircase-title span:nth-child(4) { top: calc(var(--staircase-step) * 3); left: 9rem; }
.staircase-title span:nth-child(5) { top: calc(var(--staircase-step) * 4); left: 12rem; }
.staircase-title span:nth-child(6) { top: calc(var(--staircase-step) * 5); left: 15rem; }
.staircase-title span:nth-child(7) { top: calc(var(--staircase-step) * 6); left: 18rem; }
.staircase-title span:nth-child(8) { top: calc(var(--staircase-step) * 6); left: 0px; }
.staircase-title span:nth-child(9) { top: calc(var(--staircase-step) * 5); left: 3rem; }
.staircase-title span:nth-child(10){ top: calc(var(--staircase-step) * 4); left: 6rem; }
.staircase-title span:nth-child(11) { top: calc(var(--staircase-step) * 3); left: 9rem; }
.staircase-title span:nth-child(12) { top: calc(var(--staircase-step) * 2); left: 12rem; }
.staircase-title span:nth-child(13) { top: calc(var(--staircase-step) * 1); left: 15rem; }
.staircase-title span:nth-child(14) { top: calc(var(--staircase-step) * 0); left: 18rem; }
