  .text-blk {
    max-width: 800px;
  }
  
  .responsive-container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-blk.heading {
    max-width: 800px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  
  .social-icons-container {
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .social-icona {
    width: 33px;
    height: 33px;
  }

  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .social-icona {
      width: 25px;
      height: 25px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    .social-icons-container {
        width:60%;
      }

  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
    
    .social-icons-container {
        width:80%;
      }
  }